<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/static/css/core.css">
</head>
<body>  
    <%- include('partials/header'); %>
    <section class="items">
        <% data.products.forEach(value => { %>
            <div class="item" id="<%= value._id %>">
                <img src="<%= value.image_url %>">
                <p><%= value.product_name; %></p>
                <button id="<%= value._id %>">Meer info</button>
            </div>
        <% }) %>
    </section>
</body>
</html>