<%- include('partials/head'); %>  
    <%- include('partials/header'); %>
    <main>
        <section class="items">
            <% data.products.forEach(value => { %>
                <div class="item" id="<%= value._id %>">
                    <img src="<%= value.image_url %>">
                    <p><%= value.product_name; %></p>
                    <form method="GET" action="/product">
                        <input type="text" name="id" value="<%= value._id %>" hidden>
                        <input type="submit" value="Meer info">
                    </form>
                </div>
            <% }) %>
        </section>
    </main>
<%- include('partials/footer'); %> 